th, td {
    padding: 5px;
}
th {
    background-color: mediumpurple;
    color: white;
}
tr:nth-child(even) {
    background-color: lavender;
}
table {
    width: 100%;
    border-collapse: collapse;
}
#query {
    font-size: 2vw;
    text-align: center;
}
#query:after {
  content: "";
  display: inline-block;
  width: 100%;
}