* { 
    padding: 0;
    margin: 0;
    font-size: 1vw;
    font-family: sans-serif;
    border: 0;
}
ol {
    padding-left: 1.5vw;
}
input[type=text] {
    border: 0;
    height: 1vw;
}
input[type=submit], input[type=reset] {
    padding: 2;
}
.box{
    background-color: lavender;
}
.wannabeHyperLink {
    border: 0;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.bullet{
    margin-left: 1vw;
    padding: .5vw
}
#header{
    margin: 1vw;
}
#main {
    display: flex;
}
#footer {
    height: 0px;
}

#relation{
    
}
#query{
    
}
#adhoc {
    
}
