* { 
    padding: 0; margin: 0; 
}
html {
    font-size: 16px;
    font-family: sans-serif;
}
h1 {
    font-size: 4vw;
}
ol {
    padding-left: 1.5vw;
}
#header{
    margin: 1vw;
}
#main {
    display: flex;
}
#footer {
    height: 0px;
}

#relation{
    
}
#query{
    
}
#adhoc {
    
}

.bullet{
    background-color: lightgray;
    margin-left: 1vw;
    padding: .5vw
}